$colorButton: #fff;

.colorPickerContainer {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 111;
    right: 510px;
}

.colorButton {
    position: relative;
    width: 65px;
    height: 35px;
    background-color: $colorButton;
    border-radius: 10px;
    margin: 0 30px 0 10px;
}
