@import url('https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core@5/index.css');
@import url('https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/markers-plugin@5/index.css');

body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-y: auto;
    font-family: Roboto, system-ui;
}

.mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
/*

@media (max-width: 1000px) {

    header {
        position: fixed;
        height: 70px;
    }

    header .logo {
        padding: 0px;
        position: fixed;
        left: 6vw;
        height: auto;
        top: 8px;
    }

    header .navigation{
        background: #172338;
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        height: 100vh;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        right: -100%;
    }

    header .navigation.active {
        right: 0;
    }

    header .navigation .menu-header {
        display: block;
        padding-left: 0px;
        top: 10vh;
    }

    header .navigation .menu-header .menu-item {
        position: relative;
        width: 100vw;
        height: auto;
    }

    .menu-item .sub-menu {
        position: relative;
        opacity: 1;
        top: -1vh;
        margin: auto;
        border-radius: 5px;
        display: none;
        width: 90vw;
        max-height: 35vh;
        background: #1d1e33;
    }

    .menu-item .sub-menu .sub-item a {
        position: relative;
        display: inline-block;
        width: 100%;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        padding: 0px 10px;
        word-wrap: break-word;
    }

    .menu-item .sub-menu .sub-item a text {
        width: 100%;
    }

    .menu-item .sub-menu .sub-item {
        position: relative;
        padding: 7px 0;
        cursor: pointer;
        -webkit-box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
                box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    }

    .menu-item .sub-menu .sub-item:hover {
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    header .navigation .auth-container {
        position: relative;
        display: block;
        margin-right: 0px;
        top: 10vh;
    }

    .form-entranse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .menu-item > a, form.menu-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 22px;
    }

    .menu-item > button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 22px;
        padding: 25px;
    }

    .image-container .admin-panel {
        display: none;
    }

    header .menu-hamburger {
        z-index: 1000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 50px;
        height: 35px;
        right: 6vw;
    }

    header .menu-hamburger span {
        height: 4px;
        width: 100%;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        background-color: #fff;
        border-radius: 4px;
    }

    header .menu-hamburger::before , .menu-hamburger::after {
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: #fff;
        -webkit-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
        border-radius: 4px;
    }

    header .menu-hamburger::before {
        top: 0;
    }

    header .menu-hamburger::after {
        bottom: 0;
    }

    header .menu-hamburger.active span {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
    }

    header .menu-hamburger.active::before {
        top: 50%;
        -webkit-transform: rotate(-45deg) translate(0, -50%);
            -ms-transform: rotate(-45deg) translate(0, -50%);
                transform: rotate(-45deg) translate(0, -50%);
    }

    header .menu-hamburger.active::after {
        top: 42.5%;
        -webkit-transform: rotate(45deg) translate(0, 50%);
            -ms-transform: rotate(45deg) translate(0, 50%);
                transform: rotate(45deg) translate(0, 50%);
    }
}

@media only screen and (max-device-width: 1000px) and (orientation: landscape) {

    header .navigation .auth-container {
        display: none;
    }

    .menu-item .sub-menu {
        max-height: 30vh;
    }

    header .navigation .menu-header {
        top: 6vh;
    }
}

*/