$colorText: #fff;

.areaBox {
	>textarea {
		&::-webkit-input-placeholder {
			color: $colorText;
		}
		&::-moz-placeholder {
			color: $colorText;
		}
		&:-ms-input-placeholder {
			color: $colorText;
		}
		&::-ms-input-placeholder {
			color: $colorText;
		}
		&::placeholder {
			color: $colorText;
		}
	}
	resize: vertical;
}

#dropAreaVideo {
	width: 400px;
	height: 245px;
	text-align: center;
	border-radius: 20px;
	margin-bottom: 30px;
	padding: 20px;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	max-width: 480px;
	max-height: 263px;
	margin-bottom: 15px;
}

#videoView {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: 2px dashed #EBEBEB;
	background-position: center;
	background-size: cover;
	img {
		width: 55px;
		margin-top: 30px;
	}
	p {
		color: $colorText;
		font-weight: 300;
		font-size: 16px;
	}
	video {
		border-radius: 20px;
	}
}
