.describeGispy {
    display: block;
    width: 90%;
    font-family: Roboto, system-ui;
    font-size: 25px;
    color: #fff;
    margin: 2.5vh 0 0 0;
    line-height: 38px;
    text-indent: 65px;
    text-align: justify;
}

.aboutUsContainer {
    position: relative;
    display: -ms-grid;
    display: grid;
    text-align: center;
    justify-content: center;
    place-items: center;
}

.imgSteps {
    width: 99vw;
}

.imgProject {
    border-radius: 12px;
    max-width: 100%;
    height: 100%;

}

.wrapperImgProject {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: 3%;
}

.caption {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: Roboto, system-ui;
    font-size: 40px;
    color: #fff;
    position: relative;
    font-weight: 500;
}

@media (max-width: 900px) {
    .caption {
        font-size: 30px;
    }

    .describeGispy {
        font-size: 18px;
        margin: 2vh 0 0 0;
        line-height: 30px;
        text-indent: 35px;
        text-align: justify;
    }
}
