.buttonsPanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    position: absolute;
    width: 90px;
    height: 650px;
    z-index: 999;
    top: 24vh;
    right: 11px;
    -webkit-backdrop-filter: blur(48px);
            backdrop-filter: blur(48px);
}

.buttonItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 0px 15px 0px;
    margin: 17px 0 17px 0;
    max-height: 78px;
}

.buttonItem.ActiveItem {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 40px;
    width: 78px;
    height: 78px;
}

.adminAddPoint {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    position: absolute;
    width: 600px;
    height: 650px;
    z-index: 998;
    top: 24vh;
    right: 11px;
    -webkit-backdrop-filter: blur(48px);
            backdrop-filter: blur(48px);
}


.adminPanel.open .adminAddPoint {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.adminPanel.open .buttonsPanel {
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
}


.formInfoPoint, .formImagePoint, .formMovePoint, .formVideoPoint, .formPolygonePoint, .formPolylinePoint {
    display: flex;
    position: relative;
    left: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0 15px 0;
    min-height: 637px;
    min-width: 480px;
}

.adminAddPoint h1 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    height: 96px;
    width: 336px;
    margin: 0 0 30px 0;
    font-weight: 600;
}

.submitInfoBtn, .submitMoveBtn, .submitImageBtn, .submitVideoBtn, .submitPolygonBtn, .submitPolylineBtn {
    width: 310px;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 50px 0 95px 0;
}

.dropdown * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.select {
    background: #23252B;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    width: 330px;
    height: 56px;
}

.selectClicked {
    -webkit-box-shadow: 0 0 0.8em 26489a;
            box-shadow: 0 0 0.8em 26489a;
}

.select:hover {
    background: #23252B;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.caretRotate {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.formInfoPoint .inputBox {
    width: 380px;
    position: relative;
    height: 50px;
    margin: 20px 0 30px 0;
}

#titleInputInfo {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #EBEBEB;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    position: relative;
    z-index: 100;
}

.inputBox input::-webkit-input-placeholder {
    color: #fff;
}

.inputBox input::-moz-placeholder {
    color: #fff;
}

.inputBox input:-ms-input-placeholder {
    color: #fff;
}

.inputBox input::-ms-input-placeholder {
    color: #fff;
}

.inputBox input::placeholder {
    color: #fff;
}

#descriptionInputInfo {
    width: 380px;
    height: 250px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #EBEBEB;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    max-width: 380px;
    max-height: 250px;
    min-height: 250px;
}

.areaBox > textarea::-webkit-input-placeholder {
    color: #fff;
}

.areaBox > textarea::-moz-placeholder {
    color: #fff;
}

.areaBox > textarea:-ms-input-placeholder {
    color: #fff;
}

.areaBox > textarea::-ms-input-placeholder {
    color: #fff;
}

.areaBox > textarea::placeholder {
    color: #fff;
}

.areaBox {
    resize: vertical;
}

#dropAreaImage, #dropAreaVideo {
    width: 433px;
    height: 245px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    max-width: 480px;
    max-height: 263px;
}

#dropAreaImage {
    margin: 30px 0 60px 0;
}

#dropAreaVideo {
    margin-bottom: 15px;
}

#imageView, #videoView {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #EBEBEB;
    background-position: center;
    background-size: cover;
}

#imageView img, #videoView img {
    width: 55px;
    margin-top: 60px;
}

#imageView p, #videoView p {
    color: #fff;
}

#videoView video {
    border-radius: 20px;
}

.formVideoPoint .chromakeyInput, .chromakeySwitch {
    max-width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 15px 0;
    width: 260px;
}

.chromakeyInput .chromakeyEyedrop {
    height: 60px;
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 30px;
    border-radius: 30px;
}

.chromakeyInput p, .chromakeySwitch p {
    color: #E6E6E7;
    font-size: 15px;
    margin: 0;
    width: 110px;
}

.chromakeySwitch .button {
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    width: 56px;
    height: 30px;
    border-radius: 140px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    right: 34px;
}

.button::before {
    position: absolute;
    content: '';
    background-color: #EBEBEB;
    width: 22px;
    height: 22px;
    border-radius: 200px;
    margin: 3px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

input:checked + .button {
    background:-o-linear-gradient(355deg,
              hsl(286, 97%, 57%) -7%,
              hsl(256, 84%, 48%) 112%);
    background:linear-gradient(95deg,
              hsl(286, 97%, 57%) -7%,
              hsl(256, 84%, 48%) 112%);
}

input:checked + .button::before {
    -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
            transform: translateX(28px);
}

.chromakeySwitch input {
    display: none;
}

.fillPolygone .pickr .pcrButton, .strokePolygone .pickr .pcrButton, .strokePolyline .pickr .pcrButton {
    height: 25px;
    width: 50px;
    margin: 0 30px 0 13px
}

.fillPolygone, .strokePolygone, .strokePolyline {
    max-width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 30px 0;
}

.fillPolygone p, .strokePolygone p, .strokePolyline p {
    color: #E6E6E7;
    font-size: 15px;
    margin: 0;
    width: 119px;
    max-width: 199px;
}

:root {
    --gradient-color: linear-gradient(95deg,
                  hsl(286, 97%, 57%) -7%,
                  hsl(256, 84%, 48%) 112%);
    --first-color-light: hsl(256, 64%, 88%);
    --first-color-lighten: hsl(256, 58%, 94%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(256, 100%, 98%);
}

.range {
    height: 25px;
    width: 180px;
    max-width: 180px;
    border-radius: 2rem;
    -webkit-box-shadow: 0 6px 16px hsla(256, 72%, 24%, .15);
            box-shadow: 0 6px 16px hsla(256, 72%, 24%, .15);
    padding-inline: 1rem;
    display: -ms-grid;
    display: grid;
    margin: 0 0 0 13px;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
}

.rangeContent {
    position: relative;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.rangeSlider {
    width: 100%;
    height: 10px;
    background-color: #EBEBEB;
    border-radius: 4rem;
    -webkit-box-shadow: 0 4px 12px hsla(256, 72%, 24%, .2);
            box-shadow: 0 4px 12px hsla(256, 72%, 24%, .2);
    overflow: hidden;
}

.rangeSliderLine {
    width: 100%;
    height: 100%;
    background: var(--gradient-color);
    width: 0;
}

.rangeThumb {
    width: 16px;
    height: 16px;
    background-color: #EBEBEB;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 12px hsla(256, 72%, 24%, .2);
            box-shadow: 0 0 12px hsla(256, 72%, 24%, .2);
    position: absolute;
}

.rangeValue {
    width: 30px;
    height: 30px;
    background: var(--gradient-color);
    position: absolute;
    top: -36px;
    left: -8px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.rangeValueNumber {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    color: var(--white-color);
    font-size: var(--h1-font-size);
}

.rangeInput {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 16px;
    position: absolute;
    opacity: 0;
}

.rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 32px;
    height: 32px;
}

.rangeInput::-webkit-slider-thumb:hover {
    cursor: pointer;
}

.formPolygonePoint .inputBox, .formPolylinePoint .inputBox {
    width: 480px;
    position: relative;
    height: 50px;
    margin: 0 0 30px 0;
}

.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #EBEBEB;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    position: relative;
    z-index: 100;
}

.inputBox input::-webkit-input-placeholder {
    color: #fff;
}

.inputBox input::-moz-placeholder {
    color: #fff;
}

.inputBox input:-ms-input-placeholder {
    color: #fff;
}

.inputBox input::-ms-input-placeholder {
    color: #fff;
}

.inputBox input::placeholder {
    color: #fff;
}

.areaBox > textarea {
    width: 480px;
    height: 150px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #EBEBEB;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    max-width: 480px;
    max-height: 150px;
}

.areaBox > textarea::-webkit-input-placeholder {
    color: #fff;
}

.areaBox > textarea::-moz-placeholder {
    color: #fff;
}

.areaBox > textarea:-ms-input-placeholder {
    color: #fff;
}

.areaBox > textarea::-ms-input-placeholder {
    color: #fff;
}

.areaBox > textarea::placeholder {
    color: #fff;
}

.areaBox {
    resize: vertical;
}