$colorText: #fff;

@mixin justify-content($value) {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
    justify-content: $value;
}


@mixin align-items($value) {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
    align-items: $value;
}

.describeGispy {
    display: block;
    width: 90%;
    font-family: Roboto, system-ui;
    font-size: 25px;
    color: $colorText;
    margin: 2.5vh 0 0 0;
    line-height: 38px;
    text-indent: 65px;
    text-align: left;
}

.aboutUsContainer {
    position: relative;
    display: -ms-grid;
    display: grid;
    text-align: center;
    @include justify-content(center);
    place-items: center;
}

.imgSteps {
    width: 99vw;
}

.imgProject {
    border-radius: 12px;
    max-width: 100%;
    height: 100%;

}

.wrapperImgProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @include justify-content(center);
    @include align-items(center);
    height: 25vh;
    margin: 3%;
}

.caption {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: Roboto, system-ui;
    font-size: 40px;
    color: $colorText;
    position: relative;
    font-weight: 500;
}

@media (max-width: 1100px) {
    .caption {
        font-size: 30px;
    }

    .describeGispy {
        font-size: 18px;
        margin: 2vh 0 0 0;
        line-height: 30px;
        text-indent: 35px;
        text-align: justify;
    }
}
